:root {
    --blue: #102d51;
    --white: #ffffff;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e7e3d2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    padding: 1% 0;
}

#nav-title {
    font-size: 3rem;
    color: var(--white);
    text-shadow: 5px 5px 5px black;
}

.nav-bar {
    flex-direction: row;
}

.nav-links {
    flex-direction: row;
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    flex: 1;
}

.nav-links a {
    color: var(--white);
}

.nav-links a:hover  {
    color: #FF7F50;
}

.nav-links a:visited {
    color: none;
}

#hero {
    height: 30vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

#about-me, #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 h2 {
    text-align: center;
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 6%;
    margin-left: 2%;
    color: #FF7F50;
}

#about-me p {
    color: var(--blue);
    text-align: center;
    display: inline-block;
    max-width: 80%;
    margin-top: 40px;
    padding: 30px 10px;
    border-left: 5px solid #FF7F50;
}

#projects {
    margin-top: 100px;
}

#refactoring-seo {
    max-height: 400px;
    max-width: 100%;
    border-left: 5px solid var(--blue);
    padding-left: 30px;
}

/* #hero-text {
    font-size: 3rem;
    font-family: cursive;
    text-align: right;
    position: absolute;
    top: 30%;
    left: 45%;
    color: white;
  } */

  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 576px) {
  }