:root {
    --blue: #102d51;
    --white: #ffffff;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e7e3d2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    padding: 1% 0;
}

#nav-title {
    font-size: 3rem;
    color: var(--white);
    text-shadow: 5px 5px 5px black;
}

.nav-links {
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    flex: 1;
}

.nav-links a {
    color: var(--white);
}

.nav-links a:hover  {
    color: #FF7F50;
}

.nav-links a:visited {
    color: none;
}

#hero {
    height: 30vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #about-me h2, #projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
    border-bottom: 10px double #FF7F50;
    color: #FF7F50;
}

#about-me p {
    color: var(--blue);
    max-width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.project-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

div {
    gap:10px;
}
  
.full-width {
    height: 300px;
    width: 70vw;
    object-fit: cover;
    border-radius: 20px;
    filter: blur(10px);
  }
  
.half-width {
    width: 48%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    filter: blur(10px);
  }

  .full-width:hover, .half-width:hover {
    filter:blur(0);
  }

/* #hero-text {
    font-size: 3rem;
    font-family: cursive;
    text-align: right;
    position: absolute;
    top: 30%;
    left: 45%;
    color: white;
  } */

  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 576px) {
  }